@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    .font-outline {
        -webkit-text-stroke: 1px white;
    }
}

html {
    background-color: #171719;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e75626;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #fff;
}


